.before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 1217px;
  background-color: #ffffff;
}
html a,
body a,
html span,
body span,
html em,
body em {
  font-family: "微软雅黑";
}
#warp #head {
  height: 176px;
}
#warp #head .nav {
  height: 30px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
}
#warp #head .nav ul {
  line-height: 30px;
  font-size: 12px;
  color: #838383;
  text-align: right;
  margin-right: 120px;
}
#warp #head .nav ul li {
  display: inline-block;
}
#warp #head .nav ul li a:hover {
  color: black;
}
#warp #head .nav ul .nav_li_two {
  margin-left: 12px;
}
#warp #head .nav ul .nav_li_three img {
  float: left;
  margin-top: 7px;
}
#warp #head .search_box {
  height: 98px;
  width: 1170px;
  margin-left: 10px;
  margin: 0 auto;
}
#warp #head .search_box .log_box {
  width: 315px;
  height: 98px;
  float: left;
}
#warp #head .search_box .log_box dt {
  float: left;
}
#warp #head .search_box .log_box dd {
  margin-left: 19px;
  float: left;
}
#warp #head .search_box .log_box .log_box_dda a {
  display: block;
  font-size: 29px;
  color: #ffa130;
  font-weight: bold;
  margin-top: 20px;
}
#warp #head .search_box .log_box .log_box_ddb a {
  font-size: 14px;
  color: #b6b6b6;
  margin-top: -7px;
}
#warp #head .search_box .log_box .log_box_ddb a:hover {
  color: black;
  text-decoration: underline;
}
#warp #head .search_box .log_box .l_b_site {
  line-height: 98px;
  margin-left: 260px;
}
#warp #head .search_box .log_box .l_b_site select {
  border: none;
}
#warp #head .search_box .search {
  float: left;
  line-height: 98px;
  margin-left: 30px;
}
#warp #head .search_box .search #text {
  width: 390px;
  height: 33px;
  padding-left: 15px;
  line-height: 30px;
  border: 2px solid #ffa130;
}
#warp #head .search_box .search #submit {
  width: 68px;
  height: 37px;
  background-color: #ffa130;
  border: 2px solid  #ffa130;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-size: 14px\0;
}
#warp #head .search_box .service {
  padding: 31px 0 0 885px;
}
#warp #head .search_box .service a {
  display: inline-block;
  width: 114px;
  height: 32px;
  border: 2px solid #e0e0e0;
  font-size: 14px;
  color: #808080;
  text-align: center;
  line-height: 34px;
}
#warp #head .search_box .service a:hover {
  font-weight: bold;
  color: black;
}
#warp #head .search_box .service .setvice_two {
  margin-left: 25px;
}
#warp #head .search_box .service .setvice_two img {
  float: left;
  margin-top: 7px;
  padding-left: 20px;
}
#warp #head .title {
  height: 49px;
  background-color: #ffa130;
}
#warp #head .title ul {
  font-size: 0;
}
#warp #head .title ul li {
  display: inline-block;
}
#warp #head .title ul li a {
  display: inline-block;
  width: 170px;
  height: 49px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 49px;
}
#warp #head .title ul li a:hover {
  background-color: #f88f1f;
}
#warp #head .title ul .title_one {
  margin-left: 75px;
}
#warp #head .title ul .title_one a {
  background-color: #f88f1f;
}
#warp #main {
  width: 1198px;
  height: 806px;
  margin: 0 auto;
  margin-top: 30px;
}
#warp #main .main_left {
  float: left;
  width: 170px;
  height: 410px;
  border: 1px solid #e6e6e6;
  border-top: none;
}
#warp #main .main_left div {
  width: 100%;
  border-top: 4px solid #ffa130;
}
#warp #main .main_left div ul {
  text-align: center;
}
#warp #main .main_left div ul a {
  display: inline-block;
  width: 170px;
  height: 51px;
  font-size: 14px;
  color: #666666;
  line-height: 50px;
}
#warp #main .main_left div ul a:hover {
  color: #fff;
  background-color: #f88f1f;
}
#warp #main .main_right {
  float: left;
  width: 1006px;
  height: 805px;
  margin-left: 20px;
}
#warp #main .main_right .head_conter {
  height: 156px;
}
#warp #main .main_right .head_conter .head_conter_l {
  float: left;
  width: 680px;
  height: 156px;
  border: 1px solid #e6e6e6;
  position: relative;
}
#warp #main .main_right .head_conter .head_conter_l > img {
  position: absolute;
  top: 100px;
  left: 96px;
}
#warp #main .main_right .head_conter .head_conter_l dl {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#warp #main .main_right .head_conter .head_conter_l dl:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
#warp #main .main_right .head_conter .head_conter_l dl dt,
#warp #main .main_right .head_conter .head_conter_l dl dd {
  display: inline-block;
  vertical-align: middle;
}
#warp #main .main_right .head_conter .head_conter_l dl dt:hover {
  color: white;
}
#warp #main .main_right .head_conter .head_conter_l dl dt img {
  margin-left: 30px;
}
#warp #main .main_right .head_conter .head_conter_l dl dd {
  margin-left: 25px;
  font-family: "微软雅黑";
}
#warp #main .main_right .head_conter .head_conter_l dl dd img {
  padding-left: 25px;
}
#warp #main .main_right .head_conter .head_conter_l dl dd span {
  font-size: 18px;
  color: #1a1a1a;
}
#warp #main .main_right .head_conter .head_conter_l dl dd var {
  display: block;
  padding-top: 10px;
  font-size: 14px;
  color: #1a1a1a;
}
#warp #main .main_right .head_conter .head_conter_l dl dd a {
  font-size: 14px;
  color: #666666;
}
#warp #main .main_right .head_conter .head_conter_l dl dd a:hover {
  color: black;
}
#warp #main .main_right .head_conter .head_conter_r {
  float: right;
  width: 298px;
  height: 156px;
  background-color: #faf8f4;
  border: 1px solid #e6e6e6;
}
#warp #main .main_right .head_conter .head_conter_r dl {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#warp #main .main_right .head_conter .head_conter_r dl:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
#warp #main .main_right .head_conter .head_conter_r dl dt,
#warp #main .main_right .head_conter .head_conter_r dl dd {
  display: inline-block;
  vertical-align: middle;
}
#warp #main .main_right .head_conter .head_conter_r dl dt img {
  margin-left: 40px;
}
#warp #main .main_right .head_conter .head_conter_r dl dd {
  margin-left: 28px;
  font-family: "微软雅黑";
}
#warp #main .main_right .head_conter .head_conter_r dl dd span {
  font-size: 14px;
  color: #808080;
}
#warp #main .main_right .head_conter .head_conter_r dl dd var {
  font-size: 20px;
  color: #0d0d0d;
  font-weight: bold;
}
#warp #main .main_right .my_form {
  height: 246px;
}
#warp #main .main_right .my_form .my_form_one {
  height: 22px;
  line-height: 22px;
  padding: 20px 0;
}
#warp #main .main_right .my_form .my_form_one .my_form_one_a {
  font-size: 16px;
  float: left;
  border-left: 4px solid #f66061;
  margin-left: 5px;
}
#warp #main .main_right .my_form .my_form_one .my_form_one_b {
  float: right;
  color: #999999;
  margin-right: 20px;
}
#warp #main .main_right .my_form .my_form_one .my_form_one_b:hover {
  color: black;
}
#warp #main .main_right .my_form .my_form_two {
  height: 43px;
  border: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  line-height: 43px;
}
#warp #main .main_right .my_form .my_form_two span {
  font-size: 14px;
  color: #666666;
  margin-left: 20px;
}
#warp #main .main_right .my_form .my_form_three {
  height: 138px;
  border: 1px solid #e6e6e6;
  border-top: none;
}
#warp #main .main_right .my_form .my_form_three dl {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#warp #main .main_right .my_form .my_form_three dl:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
#warp #main .main_right .my_form .my_form_three dl dd,
#warp #main .main_right .my_form .my_form_three dl dt {
  display: inline-block;
  vertical-align: middle;
}
#warp #main .main_right .my_form .my_form_three dl dt img {
  margin-left: 18px;
}
#warp #main .main_right .my_form .my_form_three dl dd {
  font-size: 14px;
  color: #4c4c4c;
}
#warp #main .main_right .my_form .my_form_three dl dd span {
  float: left;
  margin-left: 27px;
}
#warp #main .main_right .my_form .my_form_three dl dd em {
  display: inline-block;
  margin-left: 90px;
}
#warp #main .main_right .my_form .my_form_three dl dd var {
  color: #ed601b;
  font-size: 16px;
  float: right;
  margin-left: 130px;
}
#warp #main .main_right .my_form .my_form_three dl dd var a {
  color: #999999;
  font-size: 12px;
  padding-left: 5px;
}
#warp #main .main_right .my_form .my_form_three dl dd var a:hover {
  color: black;
}
#warp #main .main_right .my_form .my_form_three .payment {
  display: inline-block;
  width: 160px;
  height: 125px;
  border: 1px solid #e6e6e6;
  border-top: none;
  border-bottom: none;
  vertical-align: middle;
  margin-left: 50px;
}
#warp #main .main_right .my_form .my_form_three .payment a {
  display: block;
  font-size: 14px;
  color: #666666;
  text-align: center;
}
#warp #main .main_right .my_form .my_form_three .payment a:hover {
  color: black;
}
#warp #main .main_right .my_form .my_form_three .payment .div_a {
  margin-top: 38px;
}
#warp #main .main_right .my_form .my_form_three .button {
  display: inline-block;
  text-align: center;
  height: 100%;
  margin-left: 10px;
}
#warp #main .main_right .my_form .my_form_three .button:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
#warp #main .main_right .my_form .my_form_three .button a {
  display: inline-block;
  width: 100px;
  height: 34px;
  border: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  line-height: 34px;
  font-size: 14px;
  color: #4c4c4c;
}
#warp #main .main_right .my_form .my_form_three .button a:hover {
  color: black;
}
#warp #main .main_right .my_collect {
  height: 402px;
}
#warp #main .main_right .my_collect .my_collect_one {
  display: block;
  height: 40px;
  padding: 10px 0;
}
#warp #main .main_right .my_collect .my_collect_one .my_collect_one_a {
  line-height: 40px;
  border-left: 4px solid #f46056;
  font-size: 16px;
  color: #1a1a1a;
}
#warp #main .main_right .my_collect div {
  float: left;
  width: 247px;
  height: 335px;
  text-align: center;
  border: 1px solid #e6e6e6;
}
#warp #main .main_right .my_collect div dl dd .trade_name {
  display: inline-block;
  font-size: 14px;
  color: #4c4c4c;
}
#warp #main .main_right .my_collect div dl dd em {
  font-size: 18px;
  color: #ed601b;
}
#warp #main .main_right .my_collect div dl dd .price {
  font-size: 14px;
  color: #999999;
  text-decoration: line-through;
}
#warp #main .main_right .my_collect div dl dd .add_to_shopping {
  display: block;
  width: 100px;
  height: 28px;
  font-size: 14px;
  color: #bababa;
  border: 1px solid #e6e6e6;
  line-height: 28px;
}
#warp #main .main_right .my_collect div dl dd .add_to_shopping img {
  float: left;
  padding: 4px 3px 0px 3px ;
}
#warp #main .main_right .my_collect .my_collect_two:hover {
  border-color: red;
}
#warp #main .main_right .my_collect .my_collect_two dt {
  padding: 36px 0;
}
#warp #main .main_right .my_collect .my_collect_two dd .trade_name:hover {
  text-decoration: underline;
}
#warp #main .main_right .my_collect .my_collect_two dd em {
  display: inline-block;
  padding-top: 8px;
}
#warp #main .main_right .my_collect .my_collect_two dd .price {
  margin-left: 70px;
}
#warp #main .main_right .my_collect .my_collect_two dd .add_to_shopping {
  display: inline-block;
  margin-top: 15px;
}
#warp #main .main_right .my_collect .my_collect_two dd .add_to_shopping:hover {
  color: black;
}
#warp #main .main_right .my_collect .my_collect_three:hover {
  border-color: red;
}
#warp #main .main_right .my_collect .my_collect_three dt {
  padding: 15px 0;
}
#warp #main .main_right .my_collect .my_collect_three dd .trade_name:hover {
  text-decoration: underline;
}
#warp #main .main_right .my_collect .my_collect_three dd em {
  display: block;
  margin-top: 8px;
  margin-left: -118px;
}
#warp #main .main_right .my_collect .my_collect_three dd .add_to_shopping {
  display: inline-block;
  margin-top: 12px;
}
#warp #main .main_right .my_collect .my_collect_three dd .add_to_shopping:hover {
  color: black;
}
#warp #main .main_right .my_collect .my_collect_four:hover {
  border-color: red;
}
#warp #main .main_right .my_collect .my_collect_four dt {
  padding: 50px 0;
}
#warp #main .main_right .my_collect .my_collect_four dd .trade_name:hover {
  text-decoration: underline;
}
#warp #main .main_right .my_collect .my_collect_four dd em {
  display: inline-block;
  margin-top: 9px;
}
#warp #main .main_right .my_collect .my_collect_four dd .price {
  margin-left: 70px;
}
#warp #main .main_right .my_collect .my_collect_four dd .add_to_shopping {
  display: inline-block;
  margin-top: 15px;
}
#warp #main .main_right .my_collect .my_collect_four dd .add_to_shopping:hover {
  color: black;
}
#warp #main .main_right .my_collect .my_collect_five:hover {
  border-color: red;
}
#warp #main .main_right .my_collect .my_collect_five dt {
  padding: 42px 0;
}
#warp #main .main_right .my_collect .my_collect_five dd .trade_name:hover {
  text-decoration: underline;
}
#warp #main .main_right .my_collect .my_collect_five dd em {
  display: block;
  margin-top: 9px;
  margin-left: -85px;
}
#warp #main .main_right .my_collect .my_collect_five dd .price {
  margin-left: 70px;
}
#warp #main .main_right .my_collect .my_collect_five dd .add_to_shopping {
  display: inline-block;
  margin-top: 13px;
}
#warp #main .main_right .my_collect .my_collect_five dd .add_to_shopping:hover {
  color: black;
}
#warp #bottom {
  margin-top: 88px;
  height: 121px;
  background-color: #f9f0e4;
  text-align: center;
}
#warp #bottom:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
#warp #bottom ul {
  display: inline-block;
  vertical-align: middle;
}
#warp #bottom ul li {
  display: inline-block;
}
#warp #bottom ul li a:hover {
  color: red;
}
#warp #bottom ul li a {
  font-size: 12px;
  color: #4c4c4c;
}
#warp #bottom ul li span {
  color: #5e5e5e;
}
#warp #bottom ul span {
  margin: 0 8px 0 8px;
}
