.before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 1217px;
  background-color: #ffffff;
}
html a,
body a,
html span,
body span,
html em,
body em {
  font-family: "微软雅黑";
}
#warp #head {
  height: 176px;
}
#warp #head .nav {
  height: 30px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
}
#warp #head .nav ul {
  float: right;
  line-height: 30px;
  font-size: 12px;
  color: #838383;
  margin-right: 120px;
}
#warp #head .nav ul li {
  display: inline-block;
}
#warp #head .nav ul li a:hover {
  color: black;
}
#warp #head .nav ul .nav_li_two {
  margin-left: 12px;
}
#warp #head .nav ul .nav_li_three img {
  float: left;
  margin-top: 7px;
}
#warp #head .nav var {
  display: inline-block;
  line-height: 30px;
  margin-left: 115px;
}
#warp #head .nav var a:hover {
  color: red;
}
#warp #head .nav var a {
  font-size: 12px;
  color: #4c4c4c;
}
#warp #head .nav var em {
  display: inline-block;
  text-align: center;
  line-height: 11px;
  width: 14px;
  height: 10px;
  color: #fff;
  background-color: #ffa130;
  border: 1px solid #ffa130;
  border-radius: 2px;
  font-size: 12px;
}
#warp #head .search_box {
  height: 98px;
  width: 1170px;
  margin-left: 10px;
  margin: 0 auto;
}
#warp #head .search_box .log_box {
  width: 315px;
  height: 98px;
  float: left;
}
#warp #head .search_box .log_box dt {
  float: left;
}
#warp #head .search_box .log_box dd {
  margin-left: 19px;
  float: left;
}
#warp #head .search_box .log_box .log_box_dda a {
  display: block;
  font-size: 29px;
  color: #ffa130;
  font-weight: bold;
  margin-top: 20px;
}
#warp #head .search_box .log_box .log_box_ddb a {
  font-size: 14px;
  color: #b6b6b6;
  margin-top: -7px;
}
#warp #head .search_box .log_box .log_box_ddb a:hover {
  color: black;
  text-decoration: underline;
}
#warp #head .search_box .log_box .l_b_site {
  line-height: 98px;
  margin-left: 260px;
}
#warp #head .search_box .log_box .l_b_site select {
  border: none;
}
#warp #head .search_box .search {
  float: left;
  line-height: 98px;
  margin-left: 30px;
}
#warp #head .search_box .search #text {
  width: 390px;
  height: 33px;
  padding-left: 15px;
  line-height: 30px;
  border: 2px solid #ffa130;
}
#warp #head .search_box .search #submit {
  width: 68px;
  height: 37px;
  background-color: #ffa130;
  border: 2px solid  #ffa130;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-size: 14px\0;
}
#warp #head .search_box .service {
  padding: 31px 0 0 885px;
}
#warp #head .search_box .service a {
  display: inline-block;
  width: 114px;
  height: 32px;
  border: 2px solid #e0e0e0;
  font-size: 14px;
  color: #808080;
  text-align: center;
  line-height: 34px;
}
#warp #head .search_box .service a:hover {
  font-weight: bold;
  color: black;
}
#warp #head .search_box .service .setvice_two {
  margin-left: 25px;
}
#warp #head .search_box .service .setvice_two img {
  float: left;
  margin-top: 7px;
  padding-left: 20px;
}
#warp #head .title {
  height: 49px;
  background-color: #ffa130;
}
#warp #head .title ul {
  font-size: 0;
}
#warp #head .title ul li {
  display: inline-block;
}
#warp #head .title ul li a {
  display: inline-block;
  width: 170px;
  height: 49px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 49px;
}
#warp #head .title ul li a:hover {
  background-color: #f88f1f;
}
#warp #head .title ul .title_one {
  margin-left: 75px;
}
#warp #main {
  width: 1198px;
  height: 806px;
  margin: 0 auto;
  margin-top: 30px;
}
#warp #main .main_left {
  float: left;
  width: 170px;
  height: 410px;
  border: 1px solid #e6e6e6;
  border-top: none;
}
#warp #main .main_left div {
  width: 100%;
  border-top: 4px solid #ffa130;
}
#warp #main .main_left div ul {
  text-align: center;
}
#warp #main .main_left div ul a {
  display: inline-block;
  width: 170px;
  height: 51px;
  font-size: 14px;
  color: #666666;
  line-height: 50px;
}
#warp #main .main_left div ul a:hover {
  color: #fff;
  background-color: #f88f1f;
}
#warp #main .main_left div ul .main_left_a {
  background-color: #f88f1f;
  color: white;
}
#warp #main .main_right {
  float: right;
  width: 1006px;
  height: 412px;
  border: 1px solid #f5f5f5;
}
#warp #main .main_right .password {
  height: 46px;
  border: 1px solid #e6e6e6;
  border-right: none;
}
#warp #main .main_right .password a {
  display: block;
  width: 98px;
  height: 46px;
  font-size: 18px;
  color: #4c4c4c;
  border-right: 1px solid #e6e6e6;
  text-align: center;
  line-height: 46px;
}
#warp #main .main_right .password_content ul {
  margin-top: 35px;
}
#warp #main .main_right .password_content ul li {
  font-size: 14px;
  color: #4c4c4c;
  margin-top: 10px;
  margin-left: 20px;
}
#warp #main .main_right .password_content ul li a {
  display: inline-block;
  width: 78px;
  height: 32px;
  border: 1px solid #f29525;
  background-color: #f29525;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  margin-top: 55px;
  margin-left: 75px;
}
#warp #main .main_right .password_content ul span {
  display: block;
  font-size: 12px;
  color: #999999;
  margin-top: 10px;
  margin-left: 95px;
}
#warp #main .main_right .password_content ul input {
  width: 264px;
  height: 32px;
  padding-left: 10px;
}
#warp #main .main_right .password_content ul .two {
  margin-left: 34px;
}
#warp #bottom {
  margin-top: 88px;
  height: 121px;
  background-color: #f9f0e4;
  vertical-align: middle;
}
#warp #bottom .bottom_one {
  text-align: center;
}
#warp #bottom .bottom_one ul {
  display: inline-block;
  margin-top: 40px;
}
#warp #bottom .bottom_one ul li {
  display: inline-block;
}
#warp #bottom .bottom_one ul li a {
  font-size: 12px;
  color: #1a1a1a;
  display: inline-block;
}
#warp #bottom .bottom_one ul li a:hover {
  color: red;
}
#warp #bottom .bottom_one ul span {
  margin: 0 8px 0 8px;
}
#warp #bottom .bottom-two {
  text-align: center;
}
#warp #bottom .bottom-two span,
#warp #bottom .bottom-two a {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  color: #5e5e5e;
}
#warp #bottom .bottom-two a:hover {
  color: red;
}
